.yoga-section-hpn {
  max-width: 1872px;
}

.yoga-section-hpn .row {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.yoga-section-hpn .row .col-12 {
  width: 100%;
  flex: 0 0 100%;
}

.yoga-section-hpn .yoga-main-section {
  max-width: 821px;
  text-align: center;
  margin-inline: auto;
}

.yoga-section-hpn .yoga-main-section h2 {
  margin-bottom: 6px;
}

.yoga-section-hpn .yoga-main-section {
  padding-bottom: 48px;
}

.yoga-section-hpn .yoga-inner-section {
  width: 18.4%;
  flex: 0 0 18.4%;
  height: 100%;
}

.yoga-section-hpn .yoga-inner-section:not(:last-child) {
  margin-right: 32px;
}

.yoga-section-hpn .yoga-inner-section img {
  object-fit: cover;
  aspect-ratio: 64/64;
  display: block;
  margin-bottom: 16px;
}

.yoga-section-hpn .yoga-inner-section h3 {
  margin: 0 0 2px;
}

.getting-section-hpn {
  background-color: rgba(108, 104, 96, 1);
  max-width: 1872px;
  margin-inline: auto;
  overflow: hidden;
}

.getting-section-hpn .row {
  display: flex;
}

.getting-section-hpn .getting-left {
  position: relative;
  float: none;
  flex: 0 0 50%;
  max-width: 50%;
}

.getting-section-hpn .getting-left img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 720/778;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
}
.getting-section-hpn .getting-right {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 72px 48px;
}

.getting-section-hpn .getting-right h2 {
  padding-bottom: 6px;
  color: var(--text-inverse-strong);
}

.getting-section-hpn .getting-right p {
  color: var(--text-inverse-weak);
  padding-bottom: 32px;
}

/*.getting-section-hpn .getting-right .nav-tabs > li.active > a,
.getting-section-hpn .getting-right .nav-tabs > li.active > a:focus,
.getting-section-hpn .getting-right .nav-tabs > li.active > a:hover {
  background-color: transparent;
  border: none;
  color: var(--text-inverse-strong);
  opacity: 1;
  border-bottom: 1px solid var(--text-inverse-strong);
  padding: 0 0 9px 0;
}

.getting-section-hpn .getting-right .nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  opacity: 0.5;
  color: var(--text-inverse-strong);
  padding: 0;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 24%;
  text-transform: uppercase;
  font-weight: 700;
}

.getting-section-hpn .nav-tabs {
  border-bottom: none;
}

.getting-section-hpn .nav-tabs > li {
  padding: 9px 12px 0 0px;
}*/

.getting-section-hpn .tab-content {
  margin-top: 20px;
}

.getting-section-hpn .steps-section .step {
  position: relative;
  margin-bottom: 32px;
  display: flex;
  align-items: flex-start;
}

.getting-section-hpn .steps-section .step::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  border-style: dashed;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 1);
  left: 18px;
  top: 38px;
  opacity: 0.2;
}

.getting-section-hpn .steps-section .step:last-child::before {
  display: none;
}

.getting-section-hpn .steps-section .step .content {
  padding-left: 56px;
  padding-top: 6px;
}

.getting-section-hpn .steps-section .step p {
  padding-bottom: 0;
  font-size: clamp(13px, calc(12.8px + 0.063vw), 14px);
  color: var(--text-inverse-weak);
}

.getting-section-hpn .steps-section .step .circle {
  position: absolute;
  left: 0;
  width: 40px;
  height: 40px;
  background: rgba(33, 29, 20, 1);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
  font-size: clamp(16px, calc(15.2px + 0.25vw), 20px);
}

.getting-section-hpn .steps-section .step h4 {
  color: var(--text-inverse-strong);
  letter-spacing: 3%;
}

.content p {
  color: var(--fill-inverse-weak);
}

/*.getting-section-hpn .steps-section .step:last-child {
  margin-bottom: 0;
}*/

.getting-section-hpn .getting-right .getting-section-tabs input {
  appearance: none;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 0;
}

.getting-section-hpn
  .getting-right
  .getting-section-tabs
  input:checked::before {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 12H15M3 12C3 13.1819 3.23279 14.3522 3.68508 15.4442C4.13738 16.5361 4.80031 17.5282 5.63604 18.364C6.47177 19.1997 7.46392 19.8626 8.55585 20.3149C9.64778 20.7672 10.8181 21 12 21C13.1819 21 14.3522 20.7672 15.4442 20.3149C16.5361 19.8626 17.5282 19.1997 18.364 18.364C19.1997 17.5282 19.8626 16.5361 20.3149 15.4442C20.7672 14.3522 21 13.1819 21 12C21 10.8181 20.7672 9.64778 20.3149 8.55585C19.8626 7.46392 19.1997 6.47177 18.364 5.63604C17.5282 4.80031 16.5361 4.13738 15.4442 3.68508C14.3522 3.23279 13.1819 3 12 3C10.8181 3 9.64778 3.23279 8.55585 3.68508C7.46392 4.13738 6.47177 4.80031 5.63604 5.63604C4.80031 6.47177 4.13738 7.46392 3.68508 8.55585C3.23279 9.64778 3 10.8181 3 12Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0px;
  top: 3px;
  display: flex;
  align-items: end;
  justify-content: center;
}

.getting-section-hpn .getting-right .getting-section-tabs input::before {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 12H15M12 9V15M3 12C3 13.1819 3.23279 14.3522 3.68508 15.4442C4.13738 16.5361 4.80031 17.5282 5.63604 18.364C6.47177 19.1997 7.46392 19.8626 8.55585 20.3149C9.64778 20.7672 10.8181 21 12 21C13.1819 21 14.3522 20.7672 15.4442 20.3149C16.5361 19.8626 17.5282 19.1997 18.364 18.364C19.1997 17.5282 19.8626 16.5361 20.3149 15.4442C20.7672 14.3522 21 13.1819 21 12C21 9.61305 20.0518 7.32387 18.364 5.63604C16.6761 3.94821 14.3869 3 12 3C9.61305 3 7.32387 3.94821 5.63604 5.63604C3.94821 7.32387 3 9.61305 3 12Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  right: 0px;
  top: 3px;
  display: flex;
  align-items: anchor-center;
  justify-content: center;
}

.getting-section-hpn .getting-right .getting-section-tabs .tab-label {
  color: var(--text-inverse-strong);
  padding: 0 0 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  line-height: 1.42857143;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  opacity: 0.5;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 24%;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0 30px;
}

.getting-section-hpn
  .getting-right
  .getting-section-tabs
  input:checked
  + .tab-label {
  color: #fff;
  opacity: 1;
}

.getting-section-hpn .getting-right .getting-section-tabs .tab-content {
  display: none;
}

.getting-section-hpn
  .getting-right
  .getting-section-tabs
  input:checked
  + .tab-label
  + .tab-content {
  display: block;
}

.faq-section {
  max-width: 640px;
  margin-inline: auto;
}

.faq-section .faq-row {
  margin-inline: 24px;
}
.faq-section h2 {
  text-align: center;
  margin-bottom: 32px;
}

/* Item */
.faq-section .faq-item {
  border-bottom: 1px solid var(--stroke-weak);
  padding-block: 24px;
}

/* REMOVE last border */
.faq-section .faq-item:last-child {
  border-bottom: none;
  padding-block: 24px 0;
}

.faq-section .faq-question {
  position: relative;
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.faq-section .faq-item .faq-question h4 {
  padding-bottom: 0;
  position: relative;
  font-weight: 500;
}

/* Plus/Minus */
.faq-section .faq-question .icon {
  position: absolute;
  right: 10px;
  font-size: 20px;
  line-height: 1.5;
}

/* Answer */
.faq-section .faq-answer {
  display: none;
  color: var(--fill-weak);
}

/* Active */
.faq-section .faq-item.active .faq-answer {
  display: block;
}

.faq-section .faq-item.active .icon {
  content: "−";
}

.faq-section .faq-item:first-child {
  padding-block: 24px 0;
}

.faq-section .faq-item.active .faq-question {
  margin-bottom: 12px;
}

@media only screen and (min-width: 1920px) {
  .yoga-section-hpn.mx24 {
    margin-inline: auto;
  }
  .woocommerce-category-wrapper .site-content.mx24 {
    margin-inline: auto;
    max-width: 1872px;
  }
}

@media only screen and (max-width: 1600px) {
  .yoga-section-hpn .yoga-inner-section {
    width: 18.4%;
    flex: 0 0 18.4%;
  }
  .yoga-section-hpn .yoga-inner-section:not(:last-child) {
    margin-right: 30px;
  }
}

@media only screen and (max-width: 1399px) {
  .yoga-section-hpn .yoga-inner-section {
    width: 18%;
    flex: 0 0 18%;
  }
}

@media only screen and (max-width: 1199px) {
  .yoga-section-hpn .yoga-inner-section:not(:last-child) {
    margin-right: 25px;
  }
}

@media only screen and (max-width: 991px) {
  .yoga-section-hpn .yoga-inner-section {
    width: 30%;
    flex: 0 0 30%;
  }
  .yoga-section-hpn .row {
    flex-wrap: wrap;
    margin-inline: 0;
  }
  .yoga-section-hpn .row .yoga-inner-section {
    margin-bottom: 30px;
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .yoga-section-hpn .yoga-inner-section {
    width: 46%;
    flex: 0 0 46%;
  }
  .yoga-section-hpn .yoga-inner-section:last-child {
    margin-bottom: 0;
  }
  .yoga-section-hpn .yoga-inner-section:not(:last-child) {
    margin-right: 20px;
  }
  .getting-section-hpn .row {
    display: flex;
    flex-wrap: wrap;
  }
  .getting-section-hpn .getting-left,
  .getting-section-hpn .getting-right {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .getting-section-hpn .getting-left {
    padding-left: 0;
    padding-right: 0;
  }
  .getting-section-hpn .getting-left img {
    position: relative;
    height: 400px;
  }
  .getting-section-hpn .getting-right {
    padding: 72px 20px;
  }
  .faq-section .faq-row {
    margin-inline: 0;
  }
}

@media only screen and (max-width: 575px) {
  .yoga-section-hpn .yoga-inner-section {
    width: 100%;
    flex: 0 0 100%;
  }
  .yoga-section-hpn .yoga-inner-section:not(:last-child) {
    margin-right: 0px;
  }
  .faq-section .faq-item .faq-question h4 {
    padding-right: 30px;
  }
}
