.best-section-hpn {
  background-color: var(--text-strong);
  padding-block: 56px 64px;
  text-align: center;
  margin-inline: auto;
  padding-inline: 20px;
}
.best-section-hpn h2 {
  color: var(--text-inverse-strong);
  margin-bottom: 6px;
}
.best-section-hpn p {
  color: var(--text-inverse-weak);
  padding-bottom: 32px;
  font-family: "itc_avant_garde_gothic_proMd" !important;
  font-weight: 500 !important;
}
/* .best-section-hpn .navbar-form {
  max-width: 560px;
  text-align: center;
  margin: 0px auto;
} */
.best-section-hpn .mc4wp-form-fields {
  width: 560px;
  max-width: 560px;
  position: relative;
}

.best-section-hpn input[type="email"]::-webkit-input-placeholder {
  line-height: 1.5;
  color: var(--text-inverse-strong);
  opacity: 32%;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3%;
}
.best-section-hpn input[type="email"]::-moz-placeholder {
  line-height: 1.5;
  color: var(--text-inverse-strong);
  opacity: 32%;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3%;
}
.best-section-hpn input[type="email"]:-ms-input-placeholder {
  line-height: 1.5;
  color: var(--text-inverse-strong);
  opacity: 32%;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3%;
}
.best-section-hpn input[type="email"]:-moz-placeholder {
  line-height: 1.5;
  color: var(--text-inverse-strong);
  opacity: 32%;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 3%;
}

.best-section-hpn form#mc4wp-form-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.best-section-hpn .mc4wp-form-fields .button {
  border: 1px solid var(--stroke-inverse-weak);
  color: var(--text-strong);
  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  letter-spacing: 16%;
  text-transform: uppercase;
  padding: 16px 20px;
  display: inline-block;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  background-color: var(--text-inverse-strong);
  position: absolute;
  right: 0;
}

.best-section-hpn .mc4wp-form-fields input[type="email"] {
  color: var(--text-inverse-strong);
  margin: 0px !important;
  width: 100%;
  border: 1px solid var(--stroke-inverse-weak);
}

.footer-hpn {
  background-color: rgba(248, 246, 242, 1);
  padding: 72px 24px 33px;
  margin-inline: auto;
}
.footer-hpn .row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer-hpn .container {
  padding: 0;
}
.footer-hpn .menu-section {
  /* padding-left: 175px; */
  display: flex;
  justify-content: space-between;
}
.footer-hpn .menu-section span {
  font-size: 12px;
  line-height: 1.5;
  color: var(--text-weak);
  text-transform: uppercase;
  font-weight: 500;
  padding-bottom: 20px;
  display: block;
  letter-spacing: 16%;
}
.footer-hpn .menu-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-hpn .menu-section ul li:not(:last-child) {
  padding-bottom: 12px;
  display: block;
}
.footer-hpn .menu-section ul li a {
  font-size: clamp(13px, calc(12.8px + 0.063vw), 14px);
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-strong);
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.footer-hpn .menu-section ul li a::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--text-strong);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.footer-hpn .menu-section ul li a:hover::before,
.footer-hpn .menu-section ul li a:focus::before,
.footer-hpn .menu-section ul li a:active::before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.footer-hpn .two-logo-section {
  padding-left: 24px;
}
/* .footer-hpn .two-logo-section,
.footer-hpn .logo-section {
  width: auto;
} */
.footer-hpn .two-logo-section img {
  display: block;
  aspect-ratio: 212/44;
  object-fit: cover;
}
.footer-hpn .menu-main-section {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--stroke-weak);
}
.footer-hpn .menu-main-section .logo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.footer-hpn .menu-two-colum {
  margin-top: 26px;
}
.footer-hpn .menu-two-colum .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.footer-hpn .menu-two-colum .logo-list ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-hpn .menu-two-colum .logo-list ul li a {
  display: block;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -ms-transition: all 0.8s;
  -o-transition: all 0.8s;
}

.footer-hpn .menu-two-colum .logo-list ul li a:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

.footer-hpn .menu-two-colum .logo-list ul li:not(:last-child) {
  margin-right: 20px;
}
.footer-hpn .menu-two-colum p {
  font-size: clamp(13px, calc(12.8px + 0.063vw), 14px);
  line-height: 1.5;
  color: var(--text-weak);
}
.footer-hpn .logo-section img {
  display: block;
  width: 80px;
  height: 80px;
  aspect-ratio: 80 / 80;
  object-fit: cover;
}
.footer-hpn .logo-section p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: var(--text-strong);
  display: block;
  width: 100%;
  padding-top: 20px;
  font-family: "itc_avant_garde_gothic_proMd" !important;
}
@media only screen and (min-width: 1920px) {
  .best-section-hpn .row,
  .footer-hpn .row {
    margin-inline: 0;
  }
  .best-section-hpn,
  .footer-hpn {
    max-width: 1872px;
  }
}

/* @media only screen and (max-width: 1299px) {
  .footer-hpn .menu-section {
    padding-left: 130px;
  }
}
@media only screen and (max-width: 1199px) {
  .footer-hpn .menu-section {
    padding-left: 80px;
  }
} */
@media only screen and (max-width: 1024px) {
  .footer-hpn .row {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .footer-hpn .menu-section-inner:not(:last-child) {
    padding-right: 20px;
  }
  .footer-hpn .two-logo-section {
    padding-left: 15px;
    padding-top: 20px;
  }
  .footer-hpn .two-logo-section,
  .footer-hpn .logo-section {
    width: 20%;
    flex: 0 0 20%;
  }
  .footer-hpn .menu-section {
    width: 80%;
    flex: 0 0 80%;
    padding-left: 50px;
  }
}
@media only screen and (max-width: 991px) {
  .best-section-hpn p {
    padding-bottom: 25px;
  }
  .best-section-hpn form#mc4wp-form-1 {
    flex-wrap: wrap;
  }
  .best-section-hpn .mc4wp-form-fields {
    width: 100%;
    max-width: 100%;
  }
  .best-section-hpn .mc4wp-form-fields .button {
    position: relative;
    width: 100%;
    margin-top: 12px;
  }
  .best-section-hpn .mc4wp-form-fields {
    width: 100%;
    max-width: 100%;
    position: relative;
  }
}

@media only screen and (max-width: 768px) {
  .footer-hpn {
    padding: 72px 24px 14px;
  }
  .footer-hpn .two-logo-section,
  .footer-hpn .logo-section,
  .footer-hpn .menu-section-inner,
  .footer-hpn .menu-two-colum .col-sm-6 {
    width: 100%;
    flex: 0 0 100%;
  }
  .footer-hpn .menu-section {
    width: 100%;
    flex: 0 0 100%;
    padding: 48px 0 40px 20px;
  }
  .footer-hpn .menu-section {
    flex-wrap: wrap;
  }
  .footer-hpn .two-logo-section {
    padding-left: 15px;
    padding-top: 0px;
  }
  .footer-hpn .menu-section-inner:not(:last-child) {
    padding-right: 0px;
    padding-bottom: 32px;
  }
  .footer-hpn .menu-section span {
    padding-bottom: 12px;
  }
  .footer-hpn .menu-two-colum {
    margin-top: 16px;
  }
  .footer-hpn .menu-two-colum .row {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  .footer-hpn .menu-two-colum .logo-list {
    margin-bottom: 12px;
  }
  .footer-hpn .menu-two-colum .logo-list ul {
    justify-content: flex-start;
  }
}
